body{
    font-family: robot, lato !important;
    font-size: large;
}

.logo{
    height: 43px;
}

.navbar-brand{
    font-size: 27px;
    padding-left: 10px;
    font-family: "lato";

}

.nav-item a{
    color:gray !important;
    font-size: 16px;
    padding:  16px;
    font-weight: 600;

}

.display-center{
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
}

li.nav-item{
    padding: 0 10px;
}

.main{
 padding-top:2rem;
 /* From https://css.glass */
background: rgba(255, 255, 255, 0.88);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(17.2px);
-webkit-backdrop-filter: blur(17.2px);
border: 1px solid rgba(255, 255, 255, 1);
@media (max-width: 768px) {
 flex-direction: column;   
}
 
}
.signing-image{
    height:50vh;
    width:50vw;
    border: 25px solid, white;
    border-radius: 5px;
    box-shadow: 1px 1px 5px grey;

    background: rgba(255, 255, 255, 0.88);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(17.2px);
-webkit-backdrop-filter: blur(17.2px);
border: 1px solid rgba(255, 255, 255, 1);

}

.spacer{
    padding: 10px
}

textarea:focus, input:focus{
    outline: none;
}

.bottom{
    display: flex;
    position: fixed;
    bottom: 0;
    padding-top: 2rem;
}

.home-wrap{
    background-color: rgb(31,30,30);
}
.g-top{
    height: 89vh;
    position: relative;
}
.video-wrap{
    height:600px;

}

.video-wrap>*{
    flex:1,1,250px;
    border:1px solid white;
    background: rgba(255, 255, 255, 0.88);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(17.2px);
-webkit-backdrop-filter: blur(17.2px);
border: 1px solid rgba(255, 255, 255, 1);

}

.g-top-left{
    position: absolute;
    right: 0;
    height: 8vh;
    top:0;
    border-bottom-left-radius: 10px;

    background: rgba(255, 255, 255, 0.88);
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(17.2px);
-webkit-backdrop-filter: blur(17.2px);
border: 1px solid rgba(255, 255, 255, 1);

}

.top-left-participant-wrap{
    position: relative;
}
.cursor-pointer{
    cursor: pointer;
    padding: 5px;
}

.cursor-pointer:hover{
    cursor: pointer;
    padding: 5px;
    background-color: rgb(226,225,255);
    border-radius: 5px;
}

.top-left-participant-count{
    position:absolute;
    top: -3px;
    right: -10px;
    font-size: 15px;
}



.g-bottom{
    background: rgba(255, 255, 255, 0.88);

box-shadow: 0 0px 5px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(17.2px);
-webkit-backdrop-filter: blur(17.2px);
border: 1px solid rgba(255, 255, 255, 1);
border-top-left-radius: 16px;
border-top-right-radius: 16px;

padding: 0 20px;
z-index: 2;


}

.action-icon-style{
    font-size: 8px !important;
    height: 40px;
    width:40px;
    border: 1px solid lightgray;
    border-radius: 50%;
}


.bottom-left{
  position: relative;
  padding: 5px;

}

.end-call-wrap{
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
}









